@model SiteBD.Areas.Painel.Models.Empresa
@using SiteBD.Areas.Painel.Models;
<h2>Detalhe</h2>

<form action="" method="post" style="padding:20px;border:1px solid blue;border-radius:10px;width:300px;margin:100px 500px">
   <p> 
    @Model.idEmpresa<br>
    @Model.Descricao<br>
    @Model.Telefone<br>
    @Model.Endereco<br>
    @Model.idArea<br />



       </p>
</form>
   